body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.glass-card {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #007bff;
    margin-top: -75px;
}

.card-title {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    color: #343a40;
}

.highlight {
    color: #b88700; /* Golden color for headings */
}

.card-text {
    font-weight: 400;
    color: #6c757d;
    margin-top: 20px;
    text-align: left;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
